<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.saas.hearts.mapper.CustCommentMapper">
  <resultMap id="BaseResultMap" type="com.base.saas.hearts.domain.entity.CustComment">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="talk_id" jdbcType="VARCHAR" property="talkId" />
    <result column="createUserName" jdbcType="VARCHAR" property="createUserName" />
    <result column="talkCreateUserId" jdbcType="VARCHAR" property="talkCreateUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, company_code, create_user, talk_id, content, status, create_time, update_time
  </sql>

  <select id="selectList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    (select nickname from cust_user u where u.id = c.create_user) as createUserName,
    (select u.id from cust_talk t, cust_user u where u.id = t.create_user and t.id = c.talk_id ) as talkCreateUserId
    from cust_comment c
    <where>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="talkId != null and talkId != ''">
        and talk_id = #{talkId}
      </if>
      <if test="talkCreateUserId != null and talkCreateUserId != ''">
        and talkCreateUserId = #{talkCreateUserId}
      </if>
    </where>
    order by update_time desc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    (select nickname from cust_user u where u.id = c.create_user) as createUserName,
    (select u.id from cust_talk t, cust_user u where u.id = t.create_user and t.id = c.talk_id ) as talkCreateUserId
    from cust_comment c
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="com.base.saas.hearts.domain.entity.CustComment">
    insert into cust_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="talkId != null">
        talk_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="talkId != null">
        #{talkId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.base.saas.hearts.domain.entity.CustComment">
    update cust_comment
    <set>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="talkId != null">
        talk_id = #{talkId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>